* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --title-color: #091133;
  --text-color: #6f7cb2;
  --alt-text-color: #5d6970;
  --bg: #f3f6ff;
  --alt-bg: #e7ecff;
  --section-padding: 60px;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
